.itemListRow {
  overflow: hidden;
}
.itemListRow h2 {
  font-weight: bold;
  margin: 15px 30px;
}
.itemListRow--horizontal {
  width: 2000vw;
  margin-left: -150px;
  transition: all ease 0.2s;
}
.itemListRow--listArea {
  padding-left: 30px;
}
.itemListRow--item {
  display: inline-block;
  width: 150px;
}
.itemListRow--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
}
.itemListRow--item img:hover {
  transform: scale(1);
  cursor: pointer;
}
.featuredItem--navBefore,
.featuredItem--navNext {
  position: absolute;
  z-index: 999;
  height: 225px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.2s;
}
.featuredItem--navBefore {
  left: 0;
}
.featuredItem--navNext {
  right: 0;
}
.itemListRow:hover .featuredItem--navBefore,
.itemListRow:hover .featuredItem--navNext{
  opacity: 1;
}